<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% trans %}common.test.translation{% endtrans %}

        {{ include('@WebcookCmsCore/render_section.html.twig', {section: 'Menu', sections: sections}) }}
        {{ include('@WebcookCmsCore/render_section.html.twig', {section: 'Content', sections: sections}) }}
        {{ include('@WebcookCmsCore/render_section.html.twig', {section: 'Footer', sections: sections}) }}

        {% block javascripts %}{% endblock %}
    </body>
</html>