<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% if sections.Menu is defined %} {{ sections.Menu | raw }} {% endif %} 
        {% if sections.Content is defined %} {{ sections.Content | raw }} {% endif %}
        {% if sections.Footer is defined %} {{ sections.Footer | raw }} {% endif %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
